<div class="row mt-4">
  {{#each cources}}
  <div class="col col-sm-6 col-lg-4">
    <div class="card mt-4" style="width: 18rem;">
      <a href="/courses/{{this.slug}}">
        <img src="{{this.image}}" class="card-img-top" alt="">
      </a>
      <div class="card-body">
        <a href="/courses/{{this.slug}}">
          <h6 class="card-title">{{this.name}}</h5>
        </a>
        <p class="card-text">{{this.description}}</p>
        <a href="#" class="btn btn-primary">Mua Khóa Học</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>